@model IEnumerable<ProductViewModel>;

<h2>Product List</h2>

<table class="table">
    <thead>
        <tr>
            <th>Product</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td><a href="/Product/Detail/@product.Id">@product.ProductName</td>
                <td>$@product.Price</td>
            </tr>
        }
    </tbody>
</table>